.catalog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.catalog-image {
  margin: 40px 10px 0;
  border: 3px solid rgb(192, 64, 64);
}

.download-btn {
  text-align: center;
  width: 260px;
  height: 70px;
  padding: 20px;
  background-color: brown;
  border: 3px solid darkred;
  color: white;
  font-size: 26px;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: -2px 8px #998;
}

.download-btn:hover {
  background-color: rgb(150, 23, 23);
}

.download-btn:active {
  background-color: rgb(150, 23, 23);
  box-shadow: 2px 5px #665;
  transform: translateY(4px);
}

.catalog-main h1 {
  overflow: hidden;
}

.catalog-main h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-left: 3px solid black;
  animation: cursor 0.6s infinite linear, typing 3s steps(32) forwards;
}

@keyframes cursor {
  0% {
    border-color: transparent;
  }
  10% {
    border-color: transparent;
  }
  25% {
    border-color: black;
  }
  75% {
    border-color: black;
  }
  90% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes typing {
  5% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
