.contact-container {
  max-width: 50%;
  margin: 0px auto 0;
  padding: 10px;
  background: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-container h1 {
  padding: 0 0 30px;
}

h3 {
  color: #333;
  font-size: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input,
textarea {
  width: 100%;
  padding: 10px 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 120px;
  resize: none;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success-message {
  color: #28a745;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin: 10px 0;
}

.error-message {
  color: #dc3545;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin: 10px 0;
}

