body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content should expand to push the footer down */
main {
  flex: 1;
  padding: 20px;
}

.footer {
  margin-top: 10px;
  background-color: #3f3f3f;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
}
