@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&display=swap");

main h1 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 140px;
  font-family: "Syncopate", serif;
  font-size: 45px;
  color: rgb(238, 135, 0);
}

main h2 {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-family: "Syncopate", serif;
  font-size: 41px;
  color: rgb(238, 135, 0);
}

.slideshow {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  overflow: hidden;
}

.slideshow-img {
  width: 100%;
  max-width: 50vw;
  height: auto;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}
